/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* BODY / FUNDO DO SITE */


body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  background: url("imagens/background.jpg") center / cover no-repeat;
}
/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:rgba(149, 5, 172, 0.9);

}

/* LOGO */

.logo a{

color:white;
text-decoration:none;

font-size:24px;
font-weight:bold;

}

/* MENU ICON */

.menu-icon{

font-size:28px;
cursor:pointer;

}

/* MENU LATERAL ESCONDIDO */

nav{

position:fixed;

top:0;
left:-250px;

width:250px;
height:100%;

background:#222;

transition:0.3s;

padding-top:60px;

z-index:1000;

}

nav ul{

list-style:none;

}

nav ul li{

padding:20px;

}

nav ul li a{

color:white;
text-decoration:none;
font-size:18px;

}

nav ul li:hover{

background:#333;

}

/* HERO IMAGE */

.hero img{

width:100%;
height:300px;

object-fit:cover;

}

/* CONTEUDO */

.conteudo{

padding:40px;
text-align:center;

}

/* GERADOR */

.gerador{

text-align:center;
margin-top:40px;

}

/* BOTÕES */

button{

padding:12px 25px;

font-size:16px;

border:none;
border-radius:10px;

background:#ff9800;

color:white;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#ffb74d;

transform:scale(1.05);

box-shadow:0 5px 15px rgba(0,0,0,0.5);

}

/* CARD DO PERSONAGEM */

.card{

width:260px;

margin:auto;
margin-top:20px;

padding:20px;

background:rgba(30,30,30,0.9);

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,0.6);

text-align:center;

transition:0.3s;

}

/* ANIMAÇÃO CARD */

.card:hover{

transform:translateY(-8px);

}

/* IMAGEM DO CARD */

.card img{

width:150px;
border-radius:50%;

margin-bottom:15px;

}

/* STATUS DO PERSONAGEM */

.status p{

margin:5px;
font-size:16px;

}


.titulo-magico{

font-size:48px;
font-weight:bold;

background: linear-gradient(90deg, #8a2be2, #b026ff, #6a0dad);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-align:center;

}

