body{

background: linear-gradient(45deg,#0f2027,#203a43,#2c5364);
font-family: Arial;
text-align: center;
color: white;

}

main {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

